
body {
    background: linear-gradient(90deg, rgba(2,2,2,1) 0%, rgba(74,3,4,1) 100%);
}

.logo {
    width: 220px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

header {
    background-color: transparent;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
   
}


header .button-comics{
    font-family: 'Oswald', sans-serif;
    background-color: transparent;
    font-weight: 400;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;   
    text-transform: uppercase;
    border-right: 2px solid #ED1C24;
    text-align: center;  
    padding: 0px 20px;
   
 
}

header .button-characters{
    font-family: 'Oswald', sans-serif;
    background-color: transparent;
    font-weight: 400;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;   
    padding: 0px 21px 0px 13px;
    text-transform: uppercase;
    text-align: center; 
}

header button:hover{
   color: #ED1C24;
}

header div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Homepage */

.spiderman-homepage {
width: 100vw;
position: absolute;
z-index: -1;
top: 0; 

}

.homepage-title {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
    line-height: 100px;
    text-shadow: 0 0 10px  #030303;
    text-transform: uppercase;
    text-align: center;
    padding-top: 200px;
}


/* Page Comics and Characters */

.pages-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
}

.title-and-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
   position: relative;
}

h1,h2,p {
    color: white;
}

.title-and-picture h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    text-align: center;
    margin: 0 auto;
    z-index: 10;
    position: absolute;
    top: 50%;
    text-shadow: 0 0 30px black;
    text-transform: uppercase;
   
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}


.search-bar-input {
    display: flex;
    justify-content: center;
    margin: 25px 25px;
}

.search-bar-input input {
    background-color: transparent;
    border: solid 2px #CD1426;
    border-radius: 10px;
    padding: 10px 10px;
}

.container-card {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    
}

.card {
    display: flex;
    width: 500px;
    border: 2px solid #CD1426;
    margin: 20px 20px ;
    padding: 20px 20px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;

}

.card:hover {
    background-color: rgba(212, 2, 2, 0.4);
    border: solid 2px  rgba(212, 2, 2, 0);
 
}

.image-contain {
    display: flex;
    justify-content: center;

}

.card img {
    width: 200px;
   object-fit: contain;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 30px;
}

.card-text p {
    margin-bottom: 20px;
}

.drStrange {
    width: 100vw;
    position: relative;
    z-index: -10;
    top: 0; 
    height: 600px;
    object-fit: cover;
    opacity: 0.7;
}

.comicspicture {
    width: 100vw;
    position: relative;
    z-index: -10;
    top: 0; 
    height: 600px;
    object-fit: cover;
    opacity: 0.7;
}

/* Fiche personnage */


.background-image {
    width: 100vw;
    position: relative;
    z-index: -10;
    top: 35px; 
    height: 600px;
    object-fit: cover;
    opacity: 0.7;
}


.title-and-description h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    text-align: left;
   color: white;
   font-weight: 400;
   margin-left: 25px;
}


.title-and-description {
   width: 200px;
   display: flex;
   align-items: center;
}

.titleOfCharacterPage {
   margin-top: 100px;
   text-transform: uppercase;
   font-size: 40px;
}

.card-character-page {
    display: flex;
    width: 500px;
    border: 2px solid #CD1426; 
    margin: 20px 20px ;
    padding: 20px 20px;
    border-radius: 10px;
    justify-content: center;

}

.card-character-page img {
    width: 200px;
    object-fit: contain;
   
}

.carousel {
    display: flex;
    overflow-y: scroll;
    margin-top: 30px;
    max-width: 1200px;


    
}

.carousel::-webkit-scrollbar {
    display: none;
  }